<!-- <form>

<div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pwd1" type="password" class="input" data-type="password" name="password" ngModel>
     </div>
        <div class="group">
          <label for="pass" class="label">Confirm Password</label>
          <input id="pwd2" type="password" class="input" data-type="password" name="password" ngModel>
        </div> 

        <div class="group">
          <input type="submit" class="button" value="Submit" (click)=onSubmitt()>
        </div>

</form> -->



<!-- <div class="container">
 <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-4">
            <div class="account-wall" style="font-size: 20px">
                <img class="profile-img" src="assets/osilogo.jpg" style="width:130px;"><hr>
                <form class="form-signin" method="post">
                <label for="pass" class="label">Password</label>
                <input id="pwd1" type="password" class="input" data-type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <label for="pass" class="label">Confirm Password</label>
                <input id="pwd2" type="password" class="input" data-type="password" name="password" [(ngModel)]="selectedPassword"> 
                <input type="submit" class="button" value="Submit" (click)=onSubmitr()>
                </form>
            </div>
        </div>
    </div>
</div> 

<div id="message">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div> -->



 

<div class="masthead-content">
  <!-- <video autoplay muted loop id="myVideo">
  <source src="/assets/bgvideo1.mp4" type="video/mp4">
</video> -->

          <div class="container">
            
            <div class="main">
              <h1> Welcome</h1>
              <h3>Reset your password</h3>
          <form method="post" [formGroup]="myGroup">
          <label for="pass">Password</label>
          <input type="password" id="pwd1" name="password" data-type="password" required="required" autofocus="autofocus" [(ngModel)]="password" formControlName="password">
          <!-- <div *ngIf="myGroup.get('password').errors">
              <div *ngIf="myGroup.get('password').errors.required && myGroup.get('password').touched">
                  <span class="error-class">Password is required.</span>
              </div>  -->   
              <div *ngIf="myGroup.controls.password.errors && myGroup.controls.password.errors.required && (myGroup.controls.password.dirty || myGroup.controls.password.touched)">
        <span class="error" style="color: red">Password required.</span>
      </div>
                <div *ngIf="myGroup.controls.password.errors && myGroup.controls.password.errors.pattern && myGroup.controls.password.dirty" >
          <span class="error" style="color: red">
              <p>Password should contains at least 
              <p>One capital letter, One digit and any number of special charecter.
             <p>length b/w 8 to 15 charecters.
          </span>
      </div> 
           <!-- </div>  -->
          <label for="pass">Confirm Password</label>
          <input type="Password" id="pwd2" [(ngModel)]="selectedPassword" name="password"  data-type="password"required="required" autofocus="autofocus" formControlName="selectedPassword">
          <!-- <div *ngIf="myGroup.get('selectedPassword').errors">
              <div *ngIf="myGroup.get('selectedPassword').errors.required && myGroup.get('selectedPassword').touched">
                  <span class="error-class">Password is required.</span>
              </div>  -->  
              <div *ngIf="(myGroup.controls.selectedPassword.dirty || myGroup.controls.selectedPassword.touched)&& myGroup.controls.selectedPassword.value.length != 0"> 
              <div class="alert alert-danger" *ngIf="myGroup.controls.password.value!=myGroup.controls.selectedPassword.value" style="color: red">Password and confirm password should be same</div> 
        <!--   </div> -->
      </div>
          <div>
          <input type="submit" value="Submit" (click)=onSubmitr() *ngIf="!myGroup.invalid"></div>
         </form>
     </div>
          </div>
        </div>

