/*.bg{
    width: 100%;
    height: 100%;
    background: url("/assets/OSI Wallpaper.jpg") no-repeat center;
    background-size: 110% 120%;
    background-position: top center;
  }


  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
/*.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

 Add a red text color and an "x" when the requirements are wrong 
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}*/

/*#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(211,211,211);
}


input[type=password], select {
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(211,211,211);
}

input[type=submit] {
    width: 36%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 7%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.main{
    border-radius: 34px;
    /*background-color:grey;*/
    background:rgba(0,0,0,0.3);
    padding: 20px;
    float: inherit;
    width:435px; 
    margin:158px auto;
    margin-top: 83px;
}
body {
    background-color:darkgray;
    width: 100%;
}
#image {
    width: 63%;
    margin-left: 19%;
}
h1{
    color: black;
    text-align: center;
}
h3{

	text-align: center;
    color: chocolate;
}
#a {
    color: blue;
    text-underline-position: auto;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}