<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row" style=" margin-right: 0px;">
            <div class="col-md-12 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="index.html"><img src="assets/osilogo.jpg" alt="merkery_logo" class="hidden-xs hidden-sm" style="width: 150px;height: 150px;">
                        <img  src="assets/osilogo.jpg" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi" style="padding-bottom: 278px;">
                    <ul >
                    <table id = "table" style="color:white">
 
  <li>  <tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER' ; then empname">
        <td align="left" height=35 > </td>
        <td align="right" height=35 style="color: #FF9800">

</td>
          
   </tr></li>

<ng-template #empname>
    <label for="EN"><b>Employee Name : </b></label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.empName}} </label> 
</ng-template>
        <!-- <ng-template #adminname>
          <label for="EN"><b>Employee Name : </b></label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->

    <li> <tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER' ; then empname1">
        <td align='left' height=35></td>
        <td align="right" height=35 style="color: #FF9800">
    </tr></li>
    <ng-template #empname1>
      <label for="EI"><b>Employee ID : </b> </label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.empNo}} </label> 
</ng-template>
        <!-- <ng-template #adminname1>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->


    <li><tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER'  ; then empname2">
        <td align='left' height=35></td>
        <td align="right" height=35 style="color: #FF9800" >

    </tr></li>
    <ng-template #empname2>
      <label for="ED"><b>Employee Designation : </b> </label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.designation}} </label> 
</ng-template>
        <!-- <ng-template #adminname2>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->

    <li><tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER' ; then empname3">
        <td align='left' height=35></td>
        <td align="right" height=35 style="color: #FF9800"  >

        
</tr></li>
<ng-template #empname3>
  <label for="DJ"><b>Date Of Joining :  </b>  </label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.dateOfJoining}} </label> 
</ng-template>
        <!-- <ng-template #adminname3>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->

   <li><tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER' ; then empname4">
        <td align='left' height=35></td>
        <td align="right" height=35 style="color: #FF9800" >  
    </tr></li>
    <ng-template #empname4>
      <label for="pa"><b>Pan Card : </b> </label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.panCard}} </label> 
</ng-template>
        <!-- <ng-template #adminname4>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->

   <li><tr style="font-size: 15px" align="left" *ngIf=" employee.role == 'USER' ; then empname5">
        <td align='left' height=35></td>
        <td align="right" height=35 style="color: #FF9800" > 
    </tr></li>
    <ng-template #empname5>
      <label for="ad"><b>Aadhar Card :  </b>  </label>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> {{employee.aadharCard}} </label> 
</ng-template>
        <!-- <ng-template #adminname5>
    <label for="EN" style="color: #FF9800; margin-top: 9px"> -- </label> 
</ng-template> -->
</table>
</ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align" style="padding-right: 0px;padding-left: 0px;">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row" style="line-height: 0px;margin-right: 0px;margin-left: 0px;">
                    <header style="background: black">
                        <div class="col-md-7">
                            <!-- <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav> -->
                            <div class="search hidden-xs hidden-sm">
                                <h1  class="elegantshd" style="margin-left: 204px; color: white"  >FINANCIAL UTILITY</h1>
                                  <!-- <a  class="btn btn-primary btn-md" style="color: white;margin-left: 980px;" routerLink="/logout">Logout</a></span> -->
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                              <a  class="btn btn-primary btn-md" style="color: white;margin-left: 316px;" (click)=onLogout()>Logout</a>
                            </div>
                        </div>

                    </header>
                </div>
                <div  style="position:relative;left:0px;top:0px;line-height: 0.0;margin-right: 0px">
                 <header  style="background:grey; position:relative;right:0px;">

                    <div class="col-md-6" style="margin-right: 857px;" >
                      <h2 *ngIf="isUser"
                          class="animated infinite pulse" style="color: red" ><b>Welcome<span style="color: #FF9800"> {{employee.empName}} </span></b>
                      </h2>

                      <h4 *ngIf="isAdmin" style="margin-left: -83px; color: #FF9800"> <b> Select Employee : </b><span>
                                    <select name="Empdetails" class="styled-select blue semi-square" [(ngModel)]="selectedEmpdetails" (change) = "testing()">
                                    <option value="" disabled selected>EmpNo EmpName</option>
                                    <option *ngFor="let emp of names"> {{emp}}</option>
                                    </select> </span>
                                  </h4>
                     </div>
  
  </header>
</div>


                <div class="user-dashboard">

  
<h3 class="animated infinite pulse" style="color: #FF9800" *ngIf=" enableEmpPage && isAdmin"><b> EmployeeName : {{employee.empName}}</b></h3>

                    <div class="row" >

<div class="cotn_principal" >
<div class="cont_centrar" >
  <!-- *ngIf="employee.role==user;" -->

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>PAYSLIP</h2>  
  <p>Click here to download your Payslip.</p> 
  <button class="btn_login" (click)=cambiar_login()>CLICK HERE</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>FORM16</h2>

  
  <p>Click below to download your Form16.</p>

  <button class="btn_sign_up" (click)=cambiar_sign_up()>CLICK HERE</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
       <form  id="pform" [formGroup]="myGroup">
 <div class="cont_form_login">
<a  (click)=ocultar_login_sign_up() ><i class="material-icons">[X]</i></a>
   <h2 style="margin-bottom: 41px">PaySlip</h2>
 <table id="table1">
 
     <tr *ngIf="diffUser">
    <td allign="left" height="10">
      <select id="payslipyear" name="year" value="year" style="width: 80px ; margin-left: 44px;" class="styled-select blue semi-square" (change)="onClick($event.target.value)"  #selectedYear formControlName="year">
        <option value="" selected="selected">Year</option>
        <option *ngFor = "let year of years; let i = index;" [value]=i > {{year}} </option>
      </select>
    </td>

       <td allign="left">
        <select id="payslipmonth" name="month" style="width: 80px; margin-left: 44px;" class="styled-select blue semi-square" [(ngModel)]="selectedMonth" formControlName="month">
            <option value="" >Month</option>
            <option *ngFor = "let months of ActualMonths" [value]="months.id" >{{months.month}}</option>
        </select>
    </td>
  </tr>
    </table>
<button class="btn_login" (click)=downloadPDF() *ngIf="myGroup.controls.year.valid && myGroup.controls.month.valid">Download</button>
  </div>
</form>
  <form id="fform" [formGroup]="myGroups">
   <div class="cont_form_sign_up">
<a (click)=ocultar_login_sign_up()><i class="material-icons">[X]</i></a>
     <h2 style="margin-bottom: 61px">Form16</h2>
<table id="table2">
   <tr> <td allign="right">
    <select id="formyear" name="year" style="width: 80px" class="styled-select blue semi-square"  #form16SelectedYear formControlName="year" >
             <option value="" >Year</option>
             <option *ngFor = "let year of years" [value]="year" >{{year}}</option>
        </select></td>
    </tr>
    </table>
<button class="btn_sign_up" (click)=downloadForm16() *ngIf="myGroups.controls.year.valid">Download Form16</button>

  </div>
</form>

    </div>
    
  </div>
 </div>
</div>
</div>
                </div>
            </div>
        
      </div>
