
<!-- <html>
<body>
   <div class="main1">
            <div class="main">
            <div>
         <span class="image"><a href="index.html">
          <img class="image" src="assets/osilogo.jpg"> </a></span>
        </div>
        <form #signUpForm = "ngForm" (submit) ="onSubmit(signUpForm)">
          <label for="pwd" style="font-family:Calibri" font-size:12px><b>Email</b></label>
          <input type="text" id="email" name="email" ngModel >
          <label for="pwd" style="font-family:Calibri;"><b>Password</b></label>
          <input type="Password" id="pwd" name="password" ngModel >
          <input type="submit" value="Login">
         </form>
     </div> 

 </body>
 </html> -->
 

<!--  <div class="container">
   
   <div class="row">
     
   </div>
 </div> -->
<!-- <div class="container">
 <div class="row">
        <div class="col-sm-6 col-md-5 col-md-offset-4">
            <div class="account-wall" >
                <img class="profile-img" src="assets/osilogo.jpg" style="width:130px;"><hr>
                <form class="form-signin" #signUpForm = "ngForm" (submit) ="onSubmit(signUpForm)">
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" ngModel >
                <input type="password" id="pwd" name="password" class="form-control" placeholder="Password" ngModel > 
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div> -->



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<video autoplay muted loop id="myVideo">
  <source src="/assets/bgvideo1.mp4" type="video/mp4">
</video>

  <div class="login-wrap">
  <div class="login-html" style="margin-left: -121px;">
    <img class="image" src="assets/osilogo.jpg">
  <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="text-align: center">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab" style="text-align: center">Forgot Password</label>

<!-- <input id="tab-3" type="radio" name="tab" class="for-pwdchange"><label for="tab-3" class="tab">Confirm Password</label> -->

    <div class="login-form">
      <form novalidate class="form-signin" [formGroup]="myGroup" (ngSubmit)="onSubmit(myGroup)" method="post">
      <div class="sign-in-htm">
        <div class="group">
          <!--  <div class="form-group"
         [ngClass]="{
        'has-danger': abcd.invalid && (abcd.dirty || abcd.touched),
        'has-success': abcd.valid && (abcd.dirty || abcd.touched)}">  -->

          <label for="user" class="label">Username</label>
          <input id="employeeId" type="text" class="input" name="employeeId" ngModel formControlName="employeeId" required>

          <div *ngIf="myGroup.get('employeeId').errors">   
              <div *ngIf="myGroup.get('employeeId').errors.minlength && myGroup.get('employeeId').dirty" >
                  <span class="error-class" style="color: red">user name should be greter than 4 char .</span>
              </div>
              <div *ngIf=" myGroup.get('employeeId').errors.required && myGroup.get('employeeId').touched">
                  <span class="error-class" style="color: red">username is required.</span>
              </div> 
              <div *ngIf="myGroup.get('employeeId').errors.pattern && myGroup.get('employeeId').dirty" >
                  <span class="error-class" style="color: red">user name should be only charecters.</span>
              </div>
           <!--  <span class="error-class" style="color: red"> {{myGroups.get('employeeId').errors.pattern}}
             </span>
-->
            <!-- <div *ngIf="myGroups.get('employeeId').errors && myGroups.get('employeeId').errors.pattern && ( myGroups.get('employeeId').dirty || myGroups.get('employeeId').touched)">
               <span class="error-class" style="color: red">Hello</span>
                </div>
-->


          </div>
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pwd" type="password" class="input" data-type="password" name="password" ngModel required formControlName="password">
          <div *ngIf="myGroup.get('password').errors">    
              <!-- <div *ngIf="myGroup.get('password').errors.minlength && myGroup.get('password').touched" >
                  <span class="error-class" style="color: red">password should be greter than 7 char.</span>
                  <span class="error-class" style="color: red"><br>password should be atleast one special charecter,number and uppercase leters</span>
              </div> -->
              <div *ngIf="myGroup.get('password').errors.required && myGroup.get('password').dirty">
                  <span class="error-class" style="color: red">Password is required.</span>
              </div>
              <!-- <div *ngIf="myGroup.get('password').errors.pattern && myGroup.get('password').dirty" >
                  <span class="error-class" style="color: red">password pattern is not valid.</span>
              </div> -->
          </div>
        </div>
        <!-- <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div> -->
        <div class="group">
          <input type="submit" class="button" value="Sign In" *ngIf="myGroup.controls.employeeId.valid && myGroup.controls.password.valid">
        </div>
    
       <!--  <div class="hr"></div> -->
        <div class="foot-lnk">
          <label for="tab-2">Forgot Password?</label>
        </div>
      </div>
    </form>

      <div class="for-pwd-htm">
          <form [formGroup]="myGroups" > 
        <div class="group">
          <label for="user" class="label"> Email</label>
          <input id="email" type="text" class="input" name="email" required  ngModel formControlName="email" #emails>
          <div *ngIf="myGroups.get('email').errors ">

              <div *ngIf="myGroups.get('email').errors.pattern && ( myGroups.get('email').dirty || myGroups.get('email').touched)">
               <span class="error-class" style="color: red">Enter valid Email format like sjhon@osius.com.</span>
                <!-- <div *ngIf="myGroups.get('email').errors.emailDomain ">
                  <span class="error-class" style="color: red">Enter valid Email format like jhon@osius.com.</span>
                </div> -->
</div>
    
          </div>
        </div>
       <!--  <div *ngIf="emails.errors"> 
   <div *ngIf="emails.errors.required"> 
       Official Email required.
   </div>        
   <div *ngIf="emails.errors.pattern"> 
       Official Email not valid.
   </div> 
</div> -->
        <!-- <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pwd1" type="password" class="input" data-type="password" name="password" ngModel>
        </div>
        <div class="group">
          <label for="pass" class="label">Confirm Password</label>
          <input id="pwd2" type="password" class="input" data-type="password" name="password" ngModel>
        </div> -->
<!-- <ng4-loading-spinner [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner> -->
        <div class="group">
          <input type="submit" class="button" value="Submit" (click)=onSubmitt() *ngIf="myGroups.controls.email.valid">
        </div>
       </form>
      </div>
    </div>
  </div>
</div>








 
