/* You can add global styles to this file, and also import other style files */
.bg{
    width: 100%;
    height: 100%;
    background: url("/assets/OSI Wallpaper.jpg") no-repeat center;
    background-size: 110% 120%;
    background-position: top center;
  }

  
/*#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}*/